@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#004caa;
    --secondary-color: #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark: #666;
    --bg-white: #fff;

    --primary-font: 'Ronoto slab' ,serif;
    --secondary-font: 'Josefin Sans', sans serif;
    --primary-text : #004caa;
    --secondary-text:#fc5185;
    --text-white: #fff;
    --text-black:#222;
    --text-grey: #666;
    --text-light: #ddd;

}

body{
    font-family:var(--primary-font);
    background-color: var(--bg-white);
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: .375rem;
}
::-webkit-scrollbar-track{
    background: var(--bg-light-blue);
}

::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
}

.wrapper{
    padding: 6.25rem 0;
}

.main-btn{
  display: inline-block;
  border:.0625rem solid var(--bg-white);
  text-align: center;
  padding: .75rem 1.375rem;
  font-size: 1rem;
  background-color: transparent;
  text-transform: capitalize;
  border-radius: .1875rem;
  transition: all 0.3s ease-in-out;
}

main-btm:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
}

.fill-btn{
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
   color: var(--text-white);
}

.fill-btn:hover{
    background-color: var(--bg-white);
    border-color: var(--bg-white);
    color: var(--text-black);
}

h1{
    font-size: 3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h2{
    font-size: 2.875rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-white);
    font-family: var(--secondary-font);
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    color: var(--text-black);
    font-family: var(--secondary-font);
}
h5{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    font-family: var(--secondary-font);
}
h5{
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--text-black);
    margin-bottom: .9375rem;
    font-family: var(--secondary-font);
}
p{
    font-size: 1rem;
    color: var(--text-grey);
    line-height: 1.25rem;
}
.card{
    border-radius: .625rem;
    background-color: var(--bg-white);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 black;
    padding: 3.75rem 3.125rem 4.6875rem;
    -webkit-transition: all .4s;
    transition: all .4s;
    border: 0;
}

    
.header_wrapper .navbar{
    padding: .9375rem 0;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus{
    border: 0;
    color: var(--text-black);
    line-height: 2;
    box-shadow: none;
}

.header_wrapper .nav-item{
    margin: 0 .625rem;

}

.header_wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--primary-text);
    display: inline-block;
    font-family: var(--secondary-font);
    
}
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link.active{
    color: var(--secondary-text);
}


/* Navbar  */
.navbar.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--bg-white);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 black;
    transition: 0.3s ease-in-out;
}
.banner_wrapper{
    background-image:url('../images/top-banner-img/Top-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}   
.banner_wrapper p{
    max-width: 80%;
    color:var(--text-white);
}   
.banner_wrapper .top-right-sec{
    position:relative;
    background-image:url('../images/top-banner-img/top-right-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.home .card:hover{
    transform:translateY(-0.625rem);
}
.home .icon-box{
    text-align: center;
    margin: 0 auto 2.5rem;
}
.ttt{
    box-shadow: 0 0 0.5rem;
}

/* about section */
.about_wrapper h2{
    color:var(--text-black);
}
.about_wrapper .card{
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_wrapper .about-clinic{
    flex:0 0 auto;
    width:50%;
}
.about_wrapper .about-clinic:nth-child(1),
.about_wrapper .about-clinic:nth-child(2){
    margin-bottom:2.8125rem;
}
.about_wrapper .about-clinic:nth-child(2),
.about_wrapper .about-clinic:nth-child(4){
    padding-left:3.75rem;
}
.about_wrapper .line-1,
.about_wrapper .line-2{
    content:'';
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:.0313rem;
    height:100%;
    background:var(--bg-dark);
}
.about_wrapper .line-2{
    width:100%; 
    height:.0625rem;
}
.about_wrapper .about-animate{
    position:absolute;
    left:-2.5rem;
    bottom:0;
    -webkit-animation:movebounce 3s linear infinite;
    animation:movebounce 3s linear infinite;
}
/* 5 Services */
.services_wrapper {
    background-color:var(--primary-color);
}
.services_wrapper .card{
    background-color:transparent;
    border:.0625rem solid var(--bg-light-blue);
    box-shadow: none;
    padding:2.5rem;
}
.services_wrapper .card:hover{
    background:var(--bg-light-blue);
    cursor:cell;
    border-color:transparent;
}
.services_wrapper .card h4,
.services_wrapper .card p{
    color:var(--text-white);
}
.services_wrapper .icon-box{
    margin-bottom:1.875rem;
}
 .card .main-btn{
    color: var(--bg-white);
 }
 .card .main-btn:hover{
    background-color: var(--secondary-color);
 }
/* end of services */
 /*7 Team Section */
.team_wrapper .card{
    padding:1.25rem;
}
.team_wrapper .card:hover{
    -webkit-transform:translateY(-0.625rem);
    transform:translateY(-0.625rem);
}
.team_wrapper .team-img{
    margin:0 auto;
}
.team_wrapper .team-info .social-network{
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    padding:.625rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_wrapper .team-info .social-network li a{
    width:1.5625rem;
    height:1.5625rem;
    line-height: 1.5625rem;
    display: block;
    border-radius: .3125rem;
    margin: 0 .3125rem;
    font-size: .75rem;
    background-color:var(--bg-dark);
    color:var(--text-white);
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.team_wrapper .team-info .social-network li a:hover{
    background-color:var(--secondary-color);
} 
.rounded-3{
    box-shadow: 0 0 0.5rem;
}